  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
   
  
  }

  :root {
    --bg: #0B090A;
    --bg-accent: #660708;
    --bg-accent2: #4B0506;
    --bg-accent3: #320304;
    --text-color: #F5F3F4;
    --bg-red1: #A4161A;
    --bg-red2: #BA181B;
    --bg-red3: #E5383B;
    --nav-size: 60px;
    --border-radius: 8px;
    --speed: 500ms;
  
    --bg-2: #161A1D;
  }
  img{
    border: 3px solid var(--bg-accent2);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(255, 185, 185, 0.5), 0 6px 20px 0 rgba(255, 114, 114, 0.19);
    max-width: 100%;
    height: auto;
  }
  
  .hero-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    background: rgba(0, 0, 0, 0.1);
    
  }
  .hero-container > h1 {
    color: var(--text-color);
    font-size: 100px;
    margin-top: -100px;
  }
  .hero-container > h4 {
    margin-top: 8px;
    color: var(--text-color);
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .hero-container > p {
    margin-top: 8px;
    color: var(--text-color);
    font-size: 15px;
    background: rgba(0, 0, 0, 0.5);

    
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .hero-btns {
    margin-top: 32px;
  }
  .hero-btns .btn {
    margin: 6px;
  }
  .fa-play-circle {
    margin-left: 4px;
  }

  .gio-container-2 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    background: linear-gradient(45deg, var(--bg-accent3) , var(--bg) , var(--bg-2));
    
  }
  .gio-container-2 > h1 {
    color: var(--text-color);
    font-size: 100px;
    font-size: 60px;
   
   
  }
  .gio-container-2 > h4 {
    margin-top: 16px;
    color: var(--text-color);
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .gio-container-2 > p {
    margin-top: 8px;
    color: var(--bg-red2);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .gio-container-2 > ul{
    
    color: var(--text-color);
    font-size: 20px;
    list-style-type: circle;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .gio-container-2 > li {
    
    color: var(--text-color);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .gio-container-3 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    background: linear-gradient(145deg, var(--bg-accent3) , var(--bg) , var(--bg-2));
  }
  .gio-container-3 > h1 {
    color: var(--text-color);
    font-size: 100px;
    font-size: 60px;
   
   
  }
  .gio-container-3 > h4 {
    margin-top: 16px;
    color: var(--text-color);
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .gio-container-3 > p {
    margin-top: 8px;
    color: var(--bg-red2);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .gio-container-3 > ul{
    
    color: var(--text-color);
    font-size: 20px;
    list-style-type: circle;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .gio-container-3 > li {
    
    color: var(--text-color);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  .gio-container-4 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    background: linear-gradient(300deg, var(--bg-accent3) , var(--bg) , var(--bg-2));
  }
  .gio-container-4 > h1 {
    color: var(--text-color);
    font-size: 100px;
    font-size: 60px;
    
   
   
  }
  .gio-container-4 > h4 {
    margin-top: 16px;
    color: var(--text-color);
    font-size: 40px;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .gio-container-4 > p {
    margin-top: 8px;
    color: var(--bg-red2);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  .gio-container-5 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    background: linear-gradient(250deg, var(--bg-accent3) , var(--bg) , var(--bg-2));
  }
  .gio-container-5 > h1 {
    color: var(--text-color);
    font-size: 100px;
    font-size: 60px;
    background-color: #F5B7B9;
   
   
  }
  .gio-container-5 > h4 {
    margin-top: 16px;
    color: var(--text-color);
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .gio-container-5 > p {
    margin-top: 8px;
    color: var(--bg-red2);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
 
  
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
    .gio-container-2 > h1 {
      font-size: 70px;
     
    }
    .gio-container-2 > ul{
    
      color: var(--text-color);
      font-size: 70px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-2 > li {
      
      color: var(--text-color);
      font-size: 70px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-3 > h1 {
      font-size: 70px;
     
    }
    .gio-container-3 > ul{
    
      color: var(--text-color);
      font-size: 70px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-3 > li {
      
      color: var(--text-color);
      font-size: 70px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-4 > h1 {
      font-size: 70px;
     
    }
    .gio-container-4 > ul{
    
      color: var(--text-color);
      font-size: 70px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-4 > li {
      
      color: var(--text-color);
      font-size: 70px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-5 > h1 {
      font-size: 70px;
     
    }
    .gio-container-5 > ul{
    
      color: var(--text-color);
      font-size: 70px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-5 > li {
      
      color: var(--text-color);
      font-size: 70px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 20px;
      margin-top: -100px;
    }
    .hero-container > h4 {
      font-size: 20px;
     
    }
    .hero-container > p {
      font-size: 10px;
    }
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
    .btn {
      width: 100%;
    }
    .gio-container-2 > h1 {
      font-size: 25px;

    }
    .gio-container-2 > h4 {
      font-size: 25px;
     
    }
    .gio-container-2 > p {
      font-size: 20px;
    }
    .gio-container-2 > ul{
      color: var(--text-color);
      font-size: 20px;
      list-style-type: circle;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-2 > li {
      color: var(--text-color);
      font-size: 20px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-3 > h1 {
      font-size: 25px;

    }
    .gio-container-3 > h4 {
      font-size: 25px;
     
    }
    .gio-container-3 > p {
      font-size: 20px;
    }
    .gio-container-3 > ul{
      color: var(--text-color);
      font-size: 20px;
      list-style-type: circle;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-3 > li {
      color: var(--text-color);
      font-size: 20px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-4 > h1 {
      font-size: 25px;

    }
    .gio-container-4 > h4 {
      font-size: 25px;
     
    }
    .gio-container-4 > p {
      font-size: 20px;
    }
    .gio-container-4 > ul{
      color: var(--text-color);
      font-size: 20px;
      list-style-type: circle;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-4 > li {
      color: var(--text-color);
      font-size: 20px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-5 > h1 {
      font-size: 25px;

    }
    .gio-container-5 > h4 {
      font-size: 25px;
     
    }
    .gio-container-5 > p {
      font-size: 20px;
    }
    .gio-container-5 > ul{
      color: var(--text-color);
      font-size: 20px;
      list-style-type: circle;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-5 > li {
      color: var(--text-color);
      font-size: 20px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
  }