
  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
 


  :root {
    --bg: #0B090A;
    --bg-accent: #660708;
    --bg-accent2: #4B0506;
    --bg-accent3: #320304;
    --text-color: #F5F3F4;
    --bg-red1: #A4161A;
    --bg-red2: #BA181B;
    --bg-red3: #E5383B;
    --nav-size: 60px;
    --border-radius: 8px;
    --speed: 500ms;
  
    --bg-2: #161A1D;
  }
  img{
    border: 3px solid var(--bg-2);
    border-radius: 8px;
    box-shadow: 0 4px 20px 0 rgba(255, 37, 37, 0.5), 0 6px 20px 0 rgba(192, 55, 255, 0.19);
    max-width: 100%;
    height: auto;
  }
  .img-2{
   
   
    box-shadow: 0 4px 8px 0 rgba(58, 31, 211, 0.5), 0 6px 20px 0 rgba(107, 14, 255, 0.19);
    max-width: 100%;
    height: auto;
  }
  .temp-fix{
    display:none;
  }
  


p{
  font-size: auto;
  line-height: auto;
  word-wrap:break-word;
  overflow-wrap:break-word;
  hyphens: auto;
 
}
.gradient-text {
  background-color: #ffffff;
  background-image: linear-gradient(100deg, var(--bg-accent3) 10%,  var(--bg-accent2) , var(--bg-accent) , var(--bg-red1), var(--bg-red2),var(--bg-red3),var(--bg-2) );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-family: 'Syne Mono', monospace;
}


  .special-link:hover{
    box-shadow: 20px 0px 50px 0 rgba(111, 40, 245, 0.5), 0 6px 20px 0 rgba(112, 25, 251, 0.19);
    transition: box-shadow 2s ;
  }
  .special-link:visited{
    box-shadow: 20px 0px 50px 0 rgb(144, 0, 180), 0 6px 20px 0 rgba(192, 32, 197, 0.822);
    transition: box-shadow 2s ;
  }
  .end-div{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    background-color: #161A1D;
    font-family: 'Syne Mono', monospace;
    padding:5px;
    text-align: center;
    border: 2px solid var(--bg-2);
    transition: border 3s;
  }
  
  
  
  .end-div:hover{
    border: 2px solid #BA181B;
    transition: border 3s;
  }

  .end-div-update{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    background-color: #161A1D;
    padding:20px;
 
  }
  .end-div-update:hover{
    background-color: #320304;
   
  }
 
  .coffeeBtn{
    margin:5px;
    height: auto;
    width: auto;
    display:flexbox;
    justify-content: center;
    background-color: var(--bg-red3);
    opacity: 1;
  }
  .coffeeBtn:hover{
    height: auto;
    width: auto;
    display:flexbox;
    justify-content: center;
    background-color: white;
  }

  .coffeeBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .coffeeBtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -50px;
    transition: 0.5s;
  }
  .coffeeBtn:hover span {
    padding-right: 05px;
  }
  .coffeeBtn:hover span:after {
    opacity: 1;
    right: 0;
  }

  .contactCT{
    width:99%;
    padding:10px;
    margin:5px;
    height: auto;
  }

  .fa-instagram{
    padding: 5px;
    margin: 10px;
    font-size: 30px;
    width: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 70%;
    background: linear-gradient( 180deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C , #FD1D1D, #F56040 , #ee7752, #F77737, #FCAF45, #FFDC80 );
    color: white;
    border: 2px solid #660708;
  }
  .fa-instagram:hover{
    font-size: 40px;
    transition:ease-in-out;
  }
  .fa-linkedin{
    padding: 5px;
    margin: 10px;
    font-size: 30px;
    width: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 70%;
    background: #2867B2;
    color: white;
    border: 2px solid #4B0506;
  }
  .fa-linkedin:hover{
    font-size: 40px;
    transition:ease-in-out;
  }
  .fa-twitter{
    padding: 5px;
    margin: 5px;
    font-size: 30px;
    width: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 70%;
    background: #14171A;
    color: #1DA1F2;
    border: 2px solid #320304;
  }
  .fa-twitter:hover{
    font-size: 40px;
    transition:ease-in-out;
  }
 

  .gio-main {
    border: 2px solid #BA181B;
    transition: border 3s;
    text-align: center;
  }
  .gio-main:hover{
    border: 2px solid var(--bg-2);
    transition: border 3s;
  }
  
  .gio-container {
    padding: auto;
    margin: auto;
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    text-align: center;
    border: 2px solid var(--bg-2);
    transition: border 3s;
    
  }
  .gio-container:hover{
    border: 1px solid #7300ff;
    transition: border 3s;
  }
  .gio-container > h1 {
    
    color: var(--text-color);
    font-size: 50px;
    margin-top: auto;
    font-family: 'Bungee Hairline', cursive;
    
  }
  .gio-container > h1:hover{  
    opacity: 0.5;
  }
  .gio-container > h4 {
    margin: 5px;
    padding: 10px;
    color: var(--bg-red3);
    font-size: 40px;
    font-family: 'Exo', sans-serif;
  }
  .gio-container > h4:hover{
    opacity: 0.5;
  }
  .gio-container > p {
    margin: 4px;
    color: var(--bg-red3);
    font-size: auto;
    background: rgba(0, 0, 0, 0.767);
    font-family: 'Syne Mono', monospace;
    padding:10px;
  }
  .gio-container > p:hover{
    opacity: 0.5;
  }
  .hero-btns {
    margin-top: 32px;
  }
  .hero-btns .btn {
    margin: 6px;
  }
  .fa-play-circle {
    margin-left: 4px;
  }

  .gio-container > ul{
    
    color: var(--text-color);
    font-size: 15px;
    padding: 30px;
    align-items: left;
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .gio-container > li {
    
    color: var(--text-color);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .gio-container > dl{
    
    color: var(--text-color);
    font-size: 20px;
    list-style-type: circle;
    align-items: left;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .gio-container > dt {
    
    color: var(--text-color);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .gio-container > dd {
    
    color: var(--text-color);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  .gio-container-special {
    padding:5px;
    margin: 5px;
    height: auto;
    width:99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    background-color: rgb(255, 83, 83);
    border: 2px solid var(--bg-accent3);
    transition: 3s background-color;
  }
  .gio-container-special:hover{
    background-color: var(--bg-2);
    transition: 2s background-color;
  }
 

  .gio-container-2 {
    padding: 100px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    background: linear-gradient(45deg, var(--bg-accent3) , var(--bg) , var(--bg-2));
    text-align: center;
    border: 2px solid var(--bg-2);
    transition: border 3s;
  }
  .gio-container-2:hover{
    border: 2px solid #BA181B;
    transition: border 3s;
  }
  .gio-container-2 > h1 {
    color: var(--text-color);
    font-size: 40px;
    border: 25px outset var(--bg-accent);
    animation: flickerenddiv3 30s linear infinite;
    font-family: 'Bungee Hairline', cursive;
    padding:10px;
  }
  .gio-container-2 > h4 {
    margin: 14px;
    color: var(--bg-red3);
    font-size: 50px;
    font-family: 'Exo', sans-serif;
    padding:5px;
  }
  .gio-container-2 > h4:hover{
    opacity: 0.5;
  }
  .gio-container-2 > p {
    margin: 8px;
    color: var(--bg-red3);
    font-size: 20px;
    background: rgba(95, 66, 66, 0.397);
    font-family: 'Syne Mono', monospace;
  }
  .gio-container-2 > p:hover{
    opacity: 0.5;
  }
  .gio-container-2 > ul{
    padding: 30px;
    margin: 5px;
    color: var(--text-color);
    font-size: 15px;
  
    border: 2px solid rgb(147, 14, 255) ;
    border-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .gio-container-2 > li {
    padding: 50px;
    margin: 5px;
    color: var(--text-color);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .gio-container-3 {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    background: linear-gradient(145deg, var(--bg-accent3) , var(--bg) , var(--bg-2));
    text-align: center;
    border: 2px solid var(--bg-2);
    transition: border 3s;
    padding: 100px;
  }
  .gio-container-3:hover{
    border: 2px solid #b007ff;
    transition: border 3s;
  }
  .gio-container-3 > h1 {
    color: var(--text-color);
    font-size: auto;
    border: 25px outset var(--bg-accent);
    animation: flickerenddiv3 30s linear reverse infinite;
    font-family: 'Bungee Hairline', cursive;
  }
  .gio-container-3 > h4 {
    margin: 10px;
    color: var(--bg-red3);
    font-size: 40px;
    font-family: 'Exo', sans-serif;
    padding:10px;
  }
  .gio-container-3 > p {
    margin: 10px;
    color: var(--bg-red3);
    font-size: 20px;
    background: rgba(95, 66, 66, 0.178);
    font-family: 'Syne Mono', monospace;
  }
  .gio-container-3 > ul{
    padding: 30px;
    margin: 5px;
    color: var(--text-color);
    font-size: 15px;
    
    border: 2px solid rgb(255, 0, 212) ;
    border-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .gio-container-3 > li {
    padding: 10px;
    margin: 10px;
    color: var(--text-color);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  .gio-container-4 {
    padding: 100px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    background: linear-gradient(300deg, var(--bg-accent3) , var(--bg) , var(--bg-2));
    text-align: center;
    border: 2px solid var(--bg-2);
    transition: border 3s;
  }
  .gio-container-4:hover{
    border: 2px solid #c005ff;
    transition: border 3s;
  }
  .gio-container-4 > h1 {
    color: var(--text-color);
    font-size: auto;
    border: 25px outset var(--bg-accent);
    animation: flickerenddiv3 30s linear reverse infinite;
    font-family: 'Bungee Hairline', cursive;
    padding:20px;
    margin: 5px;
  }
  .gio-container-4 > h4 {
    margin-top: 16px;
    color: var(--bg-red3);
    font-size: 40px;
    font-family: 'Exo', sans-serif;
    padding:10px;
    margin: 5px;
  }
  .gio-container-4 > p {
    margin-top: 8px;
    color: var(--bg-red3);
    font-size: 19px;
    background: rgba(95, 66, 66, 0.178);
    font-family: 'Syne Mono', monospace;
    padding:20px;
    margin: 10px;
  }
  .gio-container-4 > ul{
    padding: 30px;
    margin: 5px;
    color: var(--text-color);
    font-size: 15px;
   
    border: 2px solid rgb(147, 14, 255) ;
    border-radius: 10px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .gio-container-4 > li {
    
    color: var(--text-color);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  .gio-container-5 {
    padding: 100px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    background: linear-gradient(250deg, var(--bg-accent3) , var(--bg) , var(--bg-2));
    text-align: center;
    border: 2px solid var(--bg-2);
    transition: border 3s;
  }
  .gio-container-5:hover{
    border: 2px solid #BA181B;
    transition: border 3s;
  }
  .gio-container-5 > h1 {
    color: var(--text-color);
    font-size: auto;
    border: 25px outset var(--bg-accent);
    animation: flickerenddiv3 30s linear reverse infinite;
    font-family: 'Bungee Hairline', cursive;
    padding:10px;
    margin: 5px;
  }
  .gio-container-5 > h4 {
    margin-top: 16px;
    color: var(--bg-red3);
    font-size: 38px;
    font-family: 'Exo', sans-serif;
    padding:10px;
    margin: 5px;
  }
  .gio-container-5 > p {
    margin: 8px;
    color: var(--bg-red3);
    font-size: 19px;
    background: rgba(95, 66, 66, 0.178);
    font-family: 'Syne Mono', monospace;
    padding:20px;
  }

  .twitterframe{
    width:30%;
    height:59vh;
    min-width:auto;
    max-width:90vw; 
    background-color: var(--bg-2);
    transition: 2s border;
    border: 2px solid var(--bg-accent2);
  }
  .twitterframe:hover{
    background-color: var(--bg-accent2);
    transition: 2s background-color;
    transition: 2s border;
    border: 2px solid var(--bg-red3);
  }
  
  .tiktokframe{
    width:36%;
    height:77vh;
    min-width:auto;
    max-width:90vw;
    background-color: var(--bg-2);
    transition: 2s border;
    border: 2px solid var(--bg-accent2);
  }
  .tiktokframe:hover{
    background-color: var(--bg-accent2);
    transition: 2s background-color;
    transition: 2s border;
    border: 2px solid var(--bg-red3);
  }

  .instaframe{
    align-items:center;
    display:block;
    width:70%;
    height:180vh;
    background-color: var(--bg-2);
    transition: 2s background-color;
    transition: 2s border;
    border: 2px solid var(--bg-accent2);
  }
  .instaframe:hover{
    background-color: var(--bg-accent2);
    transition: 2s background-color;
    transition: 2s border;
    border: 2px solid var(--bg-red3);
  }
  
  
  /*Horizontal Responsiveness*/
  @media screen and (max-width: 960px) {
    .gio-container > h1 {
      color: green;
      font-size: 60px;
      margin-top: auto;
    }
    .gio-container-2 > h1 {
      font-size: 60px;
      border: 25px outset var(--bg-accent);
      
    }
    .gio-container-2 > ul{
    
      color: var(--text-color);
      font-size: 50px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-2 > li {
      
      color: var(--text-color);
      font-size: 50px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-3 > h1 {
      font-size: 60px;
      border: 25px outset var(--bg-accent);
     
    }
    .gio-container-3 > ul{
    
      color: var(--text-color);
      font-size: 50px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-3 > li {
      
      color: var(--text-color);
      font-size: 50px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-4 > h1 {
      font-size: 60px;
      border: 25px outset var(--bg-accent);
     
    }
    .gio-container-4 > ul{
    
      color: var(--text-color);
      font-size: 50px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-4 > li {
      
      color: var(--text-color);
      font-size: 50px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-5 > h1 {
      font-size: 60px;
      border: 25px outset var(--bg-accent);
     
    }
    .gio-container-5 > ul{
    
      color: var(--text-color);
      font-size: 50px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-5 > li {
      
      color: var(--text-color);
      font-size: 50px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .end-div{
      height: auto;
      width: auto;
      border: 1px dashed rgb(255, 139, 139);
      display: flex;
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 768px) {
    .gio-container {
      height: auto;
      width:auto;
    }
    .gio-container > h1 {
      color: var(--text-color);
      font-size: 20px;
      margin-top: auto;
    }
    .gio-container > h4 {
      font-size: auto;
      color: red;
    }
    .gio-container > p {
      font-size: auto;
    }
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
    .btn {
      width: 90%;
    }
    .gio-container-2{
      padding: 0px;
      margin: 1px;
    }
    .gio-container-2 > h1 {
      font-size:25px;
      border: 2px outset var(--bg-accent);
    }
    .gio-container-2 > h4 {
      font-size: 20px;
    }
    .gio-container-2 > p {
      font-size: 15px;
    }
    .gio-container-2 > ul{
      color: var(--text-color);
      font-size: 15px;
      padding: 10px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-2 > li {
      color: var(--text-color);
      font-size: 15px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-3{
      padding: 1px;
    }
    .gio-container-3 > h1 {
      font-size: auto;
      border: 1px outset var(--bg-accent);
    }
    .gio-container-3 > h4 {
      font-size: 20px;
    }
    .gio-container-3 > p {
      font-size: 15px;
    }
    .gio-container-3 > ul{
      color: var(--text-color);
      font-size: 15px;
      padding: 10px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-3 > li {
      color: var(--text-color);
      font-size: 15px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-4{
      padding: 1px;
    }
    .gio-container-4 > h1 {
      font-size: auto;
      border: 1px outset var(--bg-accent);
    }
    .gio-container-4 > h4 {
      font-size: 20px;
    }
    .gio-container-4 > p {
      font-size: 15px;
    }
    .gio-container-4 > ul{
      color: var(--text-color);
      font-size: 15px;
      padding: 10px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-4 > li {
      color: var(--text-color);
      font-size: 15px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-5{
      padding: 1px;
     
    }
    .gio-container-5 > h1 {
      font-size: auto;
      border: 1px outset var(--bg-accent);
    }
    .gio-container-5 > h4 {
      font-size: 20px;
    }
    .gio-container-5 > p {
      font-size: 15px;
      color: red;
    }
    .gio-container-5 > ul{
      color: var(--text-color);
      font-size: 15px;
      padding: 10px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-5 > li {
      color: var(--text-color);
      font-size: 15px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .end-div{
      font-size: auto;
      height: auto;
      width: auto;
      border: 1px solid rgb(118, 14, 255);
      display: flex;
      justify-content: center;
    }
    .twitterframe{
      width:100%;
      height:49vh;
      min-width:auto;
      max-width:99vw; 
      border: 1px solid var(--bg-accent2);
    }
    .tiktokframe{
      width:100%;
      height:80vh;
      min-width:auto;
      max-width:99vw;
      border: 1px solid var(--bg-accent2);
    }
    .instaframe{
      align-items:center;
      display:block;
      width:100%;
      height:79vh;
      border: 1px solid var(--bg-accent2);
    }
    .gio-container-special {
      padding:5px;
      margin: 0px;
      height: auto;
      background-color: rgb(255, 83, 83);
      width:100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      object-fit: contain;
      border: 1px solid var(--bg-accent3);
    }
    
  }

  @media screen and (max-width: 360px) {
    .gio-container > h1 {
      color: var(--text-color);
      font-size: 20px;
      margin-top: auto;
    }
  }
  
  /*Vertical Responsiveness*/
  @media screen and (max-height: 900px) {
    .gio-main {
      border: 1.4px solid purple;
  
    }
    .hero-btns {
      margin-top: auto;
    }
    .hero-btns .btn {
      margin: 6px;
    }
    .fa-play-circle {
      margin-left: 4px;
    }
    .gio-container {
      /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
      height: 100%;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
      object-fit: contain;
      background: rgba(0, 0, 0, 0.1);
     
    }
    .gio-container-2 {
      height: auto;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      object-fit: contain;
      background: linear-gradient(45deg, var(--bg-accent3) , var(--bg) , var(--bg-2));
      
    }
    .gio-container-3 {
      height: auto;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      object-fit: contain;
      background: linear-gradient(145deg, var(--bg-accent3) , var(--bg) , var(--bg-2));
    }
    .gio-container-4 {
      height: auto;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      object-fit: contain;
      background: linear-gradient(300deg, var(--bg-accent3) , var(--bg) , var(--bg-2));
    }
    .gio-container-5 {
      height: auto;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      object-fit: contain;
      background: linear-gradient(250deg, var(--bg-accent3) , var(--bg) , var(--bg-2));
    }
    .gio-container > h1 {
      color: var(--text-color);
      font-size: auto;
      margin-top: auto;
    }
    .gio-container > h4 {
      margin-top: auto;
      color: var(--text-color);
      font-size: 18px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container > p {
      color: var(--text-color);
      font-size: auto;
      background: #0b090adf;
      font-family: Roboto, "Helvetica Neue",;
      border: 2px solid #0b090aa8;
    }
    .gio-container-2 > h1 {
      font-size: 40px;
      border: 25px outset var(--bg-accent);
    }
    .gio-container-2 > p {
      color: var(--bg-red2);
      font-size: auto;
      background: #0b090adf;
      font-family: Roboto, "Helvetica Neue",;
      border: 2px solid #0b090aa8;
    }
    .gio-container-2 > ul{
    
      color: var(--text-color);
      font-size: 18px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-2 > li {
      
      color: var(--text-color);
      font-size: 18px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-3 > h1 {
      font-size: 50px;
      border: 25px outset var(--bg-accent3);
    }
    .gio-container-3 > p {
      color: var(--bg-red1);
      font-size: auto;
      background: #0b090adf;
      font-family: Roboto, "Helvetica Neue",;
      border: 2px solid #0b090aa8;
    }
    .gio-container-3 > ul{
    
      color: var(--text-color);
      font-size: 18px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-3 > li {
      
      color: var(--text-color);
      font-size: auto;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-4 > h1 {
      font-size: 40px;
      border: 25px outset var(--bg-accent2);
    }
    .gio-container-4 > p {
      color: var(--bg-red3);
      font-size: auto;
      background: #0b090adf;
      font-family: Roboto, "Helvetica Neue",;
      border: 2px solid #0b090aa8;
    }
    .gio-container-4 > ul{
    
      color: var(--text-color);
      font-size: 18px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-4 > li {
      
      color: var(--text-color);
      font-size: 40px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-5 > h1 {
      font-size: 25px;
      border: 25px outset var(--bg-2);
    }
    .gio-container-5 > p {
      color: var(--text-color);
      font-size: auto;
      background: #0b090adf;
      font-family: Roboto, "Helvetica Neue",;
      border: 2px solid #0b090aa8;
    }
    .gio-container-5 > ul{
    
      color: var(--text-color);
      font-size: 30px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-5 > li {
      
      color: var(--text-color);
      font-size: 30px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .end-div{
      height: auto;
      width: auto;
      border: 1px dashed rgb(255, 139, 139);
      display: flex;
      justify-content: center;
    }
    
  }
  
  @media screen and (max-height: 360px) {
    .gio-main {
      border: 1.4px solid silver;
  
    }
    .hero-btns {
      margin-top: 32px;
      display: none;
    }
    .hero-btns .btn {
      margin: 6px;
    }
    .fa-play-circle {
      margin-left: 4px;
    }
    .gio-container {
      /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
      height: auto;
      width:  auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
      object-fit: contain;
    }
    .gio-container-2 {
      height: auto;
      width:  auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      object-fit: contain;
      background: linear-gradient(45deg, var(--bg-accent3) , var(--bg) , var(--bg-2));
    }
    .gio-container-3 {
      height: 200vh;
      width:  auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      object-fit: contain;
      background: linear-gradient(145deg, var(--bg-accent3) , var(--bg) , var(--bg-2));
    }
    .gio-container-4 {
      height: 200vh;
      width:  auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      object-fit: contain;
      background: linear-gradient(300deg, var(--bg-accent3) , var(--bg) , var(--bg-2));
    }
    .gio-container-5 {
      height: 220vh;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      object-fit: contain;
      background: linear-gradient(250deg, var(--bg-accent3) , var(--bg) , var(--bg-2));
    }
    .gio-container > h1 {
      color: var(--text-color);
      font-size: auto;
      margin-top: auto;
    }
    .gio-container > h4 {
      margin-top: auto;
      color: var(--text-color);
      font-size: 15px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container > p {
      margin-top: auto;
      color: var(--text-color);
      font-size: auto;
      background: rgba(0, 0, 0, 0.1);
  
      
      
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-2 > h1 {
      font-size: 30px;
      border: 25px outset var(--bg-accent);
     
    }
    .gio-container-2 > p {
      margin-top: 8px;
      color: var(--bg-red2);
      font-size: 12px;
      background: rgba(0, 0, 0, 0.1);
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-2 > ul{
    
      color: var(--text-color);
      font-size: 15px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-2 > li {
      
      color: var(--text-color);
      font-size: 15px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-3 > h1 {
      font-size: 30px;
      border: 25px outset var(--bg-accent);
     
    }
    .gio-container-3 > p {
      margin-top: 8px;
      color: var(--bg-red2);
      font-size: 12px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-3 > ul{
    
      color: var(--text-color);
      font-size: 15px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-3 > li {
      
      color: var(--text-color);
      font-size: 15px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-4 > h1 {
      font-size: 30px;
      border: 25px outset var(--bg-accent);
     
    }
    .gio-container-4 > p {
      margin-top: 8px;
      color: var(--bg-red2);
      font-size: 12px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-4 > ul{
    
      color: var(--text-color);
      font-size: 15px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-4 > li {
      
      color: var(--text-color);
      font-size: 15px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-5 > h1 {
      font-size: 30px;
      border: 25px outset var(--bg-accent);
     
    }
    .gio-container-5 > p {
      margin-top: 8px;
      color: var(--bg-red2);
      font-size: 12px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-5 > ul{
    
      color: var(--text-color);
      font-size: 15px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .gio-container-5 > li {
      
      color: var(--text-color);
      font-size: 15px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
    .end-div{
      height: auto;
      font-size: 12px;
      width: 94%;
      border: 1px dashed rgb(255, 139, 139);
      display: flex;
      justify-content: center;
    }
    
  }
 

  @keyframes bgchange {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes flickerenddiv {
    0% {
      opacity: 0.4;
    }
    5% {
      opacity: 0.5;
    }
    10% {
      opacity: 0.6;
    }
    15% {
      opacity: 0.85;
    }
    25% {
      opacity: 0.5;
    }
    30% {
      opacity: 1;
    }
    35% {
      opacity: 0.1;
    }
    40% {
      opacity: 0.25;
      height: 51px;
      
     
    }
    45% {
      opacity: 0.5;
    }
    60% {
      opacity: 1;
    }
    70% {
      opacity: 0.85;
    }
    80% {
      opacity: 0.4;
    }
    90% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes flickerenddiv3 {
    0% {
      border: inset var(--bg-accent);
    }
    5% {
      border: outset var(--bg-accent);
    }
    10% {
      border: inset  var(--bg-accent);
    }
     
    15% {
      border: outset var(--bg-accent);
    }
    25% {
      border: inset var(--bg-accent);
    }
    30% {
    
      border: outset var(--bg-accent);
    }
    35% {
      border: inset var(--bg-accent);
     
    }
    40% {
      border: outset var(--bg-accent);
    
    }
    45% {
      border: inset var(--bg-accent);
     
    }
    60% {
      border: outset var(--bg-accent);
    }
    70% {
      border: inset var(--bg-accent);
    }
    80% {
      border: outset var(--bg-accent);
    }
    90% {
      border: inset var(--bg-accent);
    }
    100% {
      border: outset var(--bg-accent);
    }
  }