

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
table{
  background: -webkit-linear-gradient(left, #673a75, #E5383B);
  background: linear-gradient( #673a75, #E5383B );
  background-size: 10000%;
  animation: bgchange 2s ease infinite;
  font-family: 'Roboto', sans-serif;
  align-self: center;
  height: auto;
  width: auto;
  border: solid 3px rgb(120, 0, 200);
  opacity: 1;
  animation: flickerenddiv 10s linear  reverse infinite;
}
table:hover{
    animation: none;
}
 
th{
    padding-top: 20px;
    padding: auto;
    text-align: center;
    font-weight: 600;
    font-size: auto;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    align-self: center;
    margin-top: 10px;
    border-right: solid 1px #ec1bff;
    border-bottom: solid 1px #ffffff;
    animation: flickerenddiv2 10s linear   infinite;
  }
td{
    padding-top: 100px;
    padding: auto;
    text-align: left;
    vertical-align:top;
    font-weight: 200;
    font-size: auto;
    color: #fff;
    border-right: solid 1px #ff679a;
    border-bottom: solid 1px #ff679a;
  }
  
  
  
  ::-webkit-scrollbar {
      width: 6px;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }

  @keyframes bgchange {
    0% {
      background-position: 0% 1%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes flickerenddiv {
    0% {
      opacity: 1;
    }
    5% {
      opacity: 0.9;
    }
    10% {
      opacity: 0.89;
    }
    15% {
      opacity: 0.88;
    }
    25% {
      opacity: 0.85;
    }
    30% {
      opacity: 1;
     
    }
    35% {
      opacity: 0.55;
     
    }
    40% {
      opacity: 0.60;
    
    }
    45% {
      opacity: 0.70;
    }
    60% {
      opacity: .75;
    }
    70% {
      opacity: 0.88;
    }
    80% {
      opacity: 0.89;
    }
    90% {
      opacity: 0.9;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes flickerenddiv2 {
    0% {
      opacity: 1;
    }
    5% {
      opacity: 0.9;
    }
    10% {
      opacity: 0.8;
    }
    15% {
      opacity: 0.7;
    }
    25% {
      opacity: 0.6;
    }
    30% {
      opacity: 1;
     
    }
    35% {
      opacity: 0.5;
      color: rgb(255, 0, 0);
      border-right: solid 1px #ff00f2;
      border-bottom: solid 1px #fb8600;
    }
    40% {
      opacity: 0.55;
    
    }
    45% {
      opacity: 0.59;
    }
    60% {
      opacity: .6;
    }
    70% {
      opacity: 0.7;
    }
    80% {
      opacity: 0.8;
    }
    90% {
      opacity: 0.9;
    }
    100% {
      opacity: 1;
    }
  }

