.App {
  text-align: center;
}

iframe:hover {
 color:black;
}

input{
  color: white;
  background-color: black;
}

label{
  font-size: auto;
  transition: 4s;
}
label:hover{
  transition: 1s;
  font-size: 40px;
}


input[type=text] {
  width: 60vw;
  font-size: 15px;
}

input[type=text]:focus-visible {
  width: 60vw;
  color: var(--bg-red2);
}

h6{
  color: purple;
}




@media screen and (max-height: 460px){
  .App {
    text-align: center;
    background-color: black;
  
  }
}


@media screen and (max-height: 360px){
  .App {
    text-align: center;
    background-color: black;
  
  }
}
