h1{
    color:red;
}
h2{
    color:red;
}
h3{
    color:white;
}
a:hover{
    color:red;
}
button{
    color:red;
    background-color:black;
    font-size: large;
    height: 50px;
    width: 340px;
}

p{
    color:blue;
}

code{
    font-family:'Exo', sans-serif;
    color: yellow;
}