body 
{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code 
{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg: #0B090A;
  --bg-accent: #660708;
  --bg-accent2: #4B0506;
  --bg-accent3: #320304;
  --text-color: #F5F3F4;
  --bg-red1: #A4161A;
  --bg-red2: #BA181B;
  --bg-red3: #E5383B;
  --nav-size: 60px;
  --border-radius: 8px;
  --speed: 500ms;

  --bg-2: #161A1D;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

h1 {
  color: var(--text-color);
}

h6{
  text-shadow: 0 1px 0 #161A1D, 0 2px 0 #161A1D, 0 3px 0 #161A1D, 0 4px 0 #161A1D,  0 5px 0 #161A1D, 0 6px 0 #161A1D, 0 20px 30px rgba(0, 0, 0, 0.5);
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navbar {
    height: var(--nav-size);
    background-color: var(--bg-2);
    padding: 0 1rem;
    border-bottom: var(--border);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: auto;
  }
  
  .navbar-nav{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-item {
    width: calc(var(--nav-size) * .92);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-button {
    --button-size: calc(var(--nav-size) * .45);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #E5383B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: white;
    transition: filter 300ms;
    transition: background-color red 2s;
    transition: transform 10s;
   
  }
  .icon-button:hover{
    filter: brightness(1);
    height: 28px;
    width: 28px;
    transform: rotate(30deg);
  }
  .icon-bg {
    --button-size: calc(var(--nav-size) * .39);
    width: calc(var(--button-size) * 1.5);
    height: calc(var(--button-size) * 1.5);
    background-color: #0B090A;
    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px inset #660708;
    transition: filter 300ms;
    transition-timing-function: ease-out;
    
    
  }
  .icon-bg:hover{
    filter: brightness(1.5);
    height: 50px;
    width: 50px;
  }
  .icon-button svg{
    fill: var(--text-color);
    width: 48px;
    height: 48px;
  }
  .dropdown{
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translate(-45%);
    background-color:var(--bg-2);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
  }
  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
  }
  .menu-item:hover{
    background-color: #660708;
  }
  .icon-right{
    margin-left: auto;
  }
  .menu {
    width: 100%;
  }
  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  
  .menu-secondary-enter {
    transform: translateX(110%);
  }
  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
 
  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }
  .navbar-2 {
    height: var(--nav-size);
    background-color: var(--bg-2);
    padding: 0 1rem;
    border-bottom: var(--border);
    border: 4px solid var(--bg);
    top: 0;
    background: linear-gradient(-90deg, var(--bg), var(--bg), var(--bg-accent3), var(--bg-accent2), var(--bg-red1) , var(--bg-red2), var(--bg-red3) , #ee7752, #e73c7e, var(--bg-red3), var(--bg-red2), var(--bg-red1), var(--bg-accent2), var(--bg-accent3), var(--bg), var(--bg) );
    background-size: 1000%;
    animation: bgchange 30s ease infinite;
    
    
  }
  .navbar-2:hover
  {
    background-color: var(--bg)
  }
  .nav-item-li{
    width: calc(var(--nav-size) * 5.4);
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
   
  }
  
  .navbar-nav-under-text{
    color: var(--text-color);
    font-size: 9px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navbar {
    height: var(--nav-size);
    background-color: var(--bg-2);
    padding: 0 1rem;
    border-bottom: var(--border);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  .navbar-nav{
    max-width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-item {
    width: calc(var(--nav-size) * 1.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-button {
    --button-size: calc(var(--nav-size) * .45);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #E5383B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: white;
    transition: filter 300ms;
    transition: background-color red 2s;
    transition: transform 10s;
   
  }
  .icon-button:hover{
    filter: brightness(1);
    height: 28px;
    width: 28px;
    transform: rotate(30deg);
  }
  .icon-bg {
    --button-size: calc(var(--nav-size) * .39);
    width: calc(var(--button-size) * 1.5);
    height: calc(var(--button-size) * 1.5);
    background-color: #0B090A;
    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px inset #660708;
    transition: filter 300ms;
    transition-timing-function: ease-out;
    
    
  }
  .icon-bg:hover{
    filter: brightness(1.5);
    height: 50px;
    width: 50px;
  }
  .icon-button svg{
    fill: var(--text-color);
    width: 48px;
    height: 48px;
  }
  .dropdown{
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translate(-45%);
    background-color:var(--bg-2);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
  }
  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
  }
  .menu-item:hover{
    background-color: #660708;
  }
  .icon-right{
    margin-left: auto;
  }
  .menu {
    width: 100%;
  }
  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  
  .menu-secondary-enter {
    transform: translateX(110%);
  }
  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }
  .navbar-2 {
    height: var(--nav-size);
    background-color: var(--bg-2);
    padding: 0 1rem;
    border-bottom: var(--border);
    border: 3px solid var(--bg);
    top: 0;
    background: linear-gradient(-90deg, var(--bg), var(--bg), var(--bg-accent3), var(--bg-accent2), var(--bg-red1) , var(--bg-red2), var(--bg-red3) , #ee7752, #e73c7e, var(--bg-red3), var(--bg-red2), var(--bg-red1), var(--bg-accent2), var(--bg-accent3), var(--bg), var(--bg) );
    background-size: 1000%;
    animation: bgchange 30s ease infinite;
    
  }
  .navbar-2:hover
  {
    background-color: var(--bg)
  }
  .nav-item-li{
    width: calc(var(--nav-size) * 10);
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
   
  }
  
  .navbar-nav-under-text{
    color: var(--text-color);
    font-size: 11px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navbar {
    height: var(--nav-size);
    background-color: var(--bg-2);
    padding: 0 1rem;
    border-bottom: var(--border);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  .navbar-nav{
    max-width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-item {
    width: calc(var(--nav-size) * 2.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-button {
    --button-size: calc(var(--nav-size) * .45);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #E5383B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: white;
    transition: filter 300ms;
    transition: background-color red 2s;
    transition: transform 10s;
   
  }
  .icon-button:hover{
    filter: brightness(1);
    height: 28px;
    width: 28px;
    transform: rotate(30deg);
  }
  .icon-bg {
    --button-size: calc(var(--nav-size) * .39);
    width: calc(var(--button-size) * 1.5);
    height: calc(var(--button-size) * 1.5);
    background-color: #0B090A;
    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px inset #660708;
    transition: filter 300ms;
    transition-timing-function: ease-out;
    
    
  }
  .icon-bg:hover{
    filter: brightness(1.5);
    height: 50px;
    width: 50px;
  }
  .icon-button svg{
    fill: var(--text-color);
    width: 48px;
    height: 48px;
  }
  .dropdown{
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translate(-45%);
    background-color:var(--bg-2);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
  }
  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
  }
  .menu-item:hover{
    background-color: #660708;
  }
  .icon-right{
    margin-left: auto;
  }
  .menu {
    width: 100%;
  }
  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  
  .menu-secondary-enter {
    transform: translateX(110%);
  }
  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  
  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }
  .navbar-2 {
    height: var(--nav-size);
    background-color: var(--bg-2);
    padding: 0 1rem;
    border-bottom: var(--border);
    border: 1px solid var(--bg);
    top: 0;
    background: linear-gradient(-90deg, var(--bg), var(--bg), var(--bg-accent3), var(--bg-accent2), var(--bg-red1) , var(--bg-red2), var(--bg-red3) , #ee7752, #e73c7e, var(--bg-red3), var(--bg-red2), var(--bg-red1), var(--bg-accent2), var(--bg-accent3), var(--bg), var(--bg) );
    background-size: 1000%;
    animation: bgchange 30s ease infinite;
    
  }
  .navbar-2:hover
  {
    background-color: var(--bg)
  }
  .nav-item-li{
    width: calc(var(--nav-size) * 14);
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
   
  }
  
  .navbar-nav-under-text{
    color: var(--text-color);
    font-size: 13px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar {
    height: var(--nav-size);
    background-color: var(--bg-2);
    padding: 0 1rem;
    border-bottom: var(--border);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  .navbar-nav{
    max-width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-item {
    width: calc(var(--nav-size) * 2.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-button {
    --button-size: calc(var(--nav-size) * .45);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #E5383B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: white;
    transition: filter 300ms;
    transition: background-color red 2s;
    transition: transform 10s;
   
  }
  .icon-button:hover{
    filter: brightness(1);
    height: 28px;
    width: 28px;
    transform: rotate(30deg);
  }
  .icon-bg {
    --button-size: calc(var(--nav-size) * .39);
    width: calc(var(--button-size) * 1.5);
    height: calc(var(--button-size) * 1.5);
    background-color: #0B090A;
    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px inset #660708;
    transition: filter 300ms;
    transition-timing-function: ease-out;
    
    
  }
  .icon-bg:hover{
    filter: brightness(1.5);
    height: 50px;
    width: 50px;
  }
  .icon-button svg{
    fill: var(--text-color);
    width: 48px;
    height: 48px;
  }
  .dropdown{
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translate(-45%);
    background-color:var(--bg-2);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
  }
  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
  }
  .menu-item:hover{
    background-color: #660708;
  }
  .icon-right{
    margin-left: auto;
  }
  .menu {
    width: 100%;
  }
  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  
  .menu-secondary-enter {
    transform: translateX(110%);
  }
  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
 
  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }
  .navbar-2 {
    height: var(--nav-size);
    background-color: var(--bg-2);
    padding: 0 1rem;
    border-bottom: var(--border);
    border: 1px solid var(--bg);
    top: 0;
    background: linear-gradient(-90deg, var(--bg), var(--bg), var(--bg-accent3), var(--bg-accent2), var(--bg-red1) , var(--bg-red2), var(--bg-red3) , #ee7752, #e73c7e, var(--bg-red3), var(--bg-red2), var(--bg-red1), var(--bg-accent2), var(--bg-accent3), var(--bg), var(--bg) );
    background-size: 1000%;
    animation: bgchange 30s ease infinite;
    
  }
  .navbar-2:hover
  {
    background-color: var(--bg)
  }
  .nav-item-li{
    width: calc(var(--nav-size) * 18);
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
   
  }
  
  .navbar-nav-under-text{
    color: var(--text-color);
    font-size: 13px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navbar {
    height: var(--nav-size);
    background-color: var(--bg-2);
    padding: 0 1rem;
    border-bottom: var(--border);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  .navbar-nav{
    max-width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-item {
    width: calc(var(--nav-size) * 3.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-button {
    --button-size: calc(var(--nav-size) * .45);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #E5383B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: white;
    transition: filter 300ms;
    transition: background-color red 2s;
    transition: transform 10s;
   
  }
  .icon-button:hover{
    filter: brightness(1);
    height: 28px;
    width: 28px;
    transform: rotate(30deg);
  }
  .icon-bg {
    --button-size: calc(var(--nav-size) * .39);
    width: calc(var(--button-size) * 1.5);
    height: calc(var(--button-size) * 1.5);
    background-color: #0B090A;
    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px inset #660708;
    transition: filter 300ms;
    transition-timing-function: ease-out;
    
    
  }
  .icon-bg:hover{
    filter: brightness(1.5);
    height: 50px;
    width: 50px;
  }
  .icon-button svg{
    fill: var(--text-color);
    width: 48px;
    height: 48px;
  }
  .dropdown{
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translate(-45%);
    background-color:var(--bg-2);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
  }
  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
  }
  .menu-item:hover{
    background-color: #660708;
  }
  .icon-right{
    margin-left: auto;
  }
  .menu {
    width: 100%;
  }
  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  
  .menu-secondary-enter {
    transform: translateX(110%);
  }
  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }
  .navbar-2 {
    height: var(--nav-size);
    background-color: var(--bg-2);
    padding: 0 1rem;
    border-bottom: var(--border);
    border: 1px solid var(--bg);
    top: 0;
    background: linear-gradient(-90deg, var(--bg), var(--bg), var(--bg-accent3), var(--bg-accent2), var(--bg-red1) , var(--bg-red2), var(--bg-red3) , #ee7752, #e73c7e, var(--bg-red3), var(--bg-red2), var(--bg-red1), var(--bg-accent2), var(--bg-accent3), var(--bg), var(--bg) );
    background-size: 1000%;
    animation: bgchange 30s ease infinite;
    
  }
  .navbar-2:hover
  {
    background-color: var(--bg)
  }
  .nav-item-li{
    width: calc(var(--nav-size) * 25);
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
   
  }
  
  .navbar-nav-under-text{
    color: var(--text-color);
    font-size: 14px;
    letter-spacing: .1em;
  }
}

/* Extra EXTRA large devices , 1800px */
@media only screen and (min-width: 1800px) {
  .navbar {
    height: var(--nav-size);
    background-color: var(--bg-2);
    padding: 0 1rem;
    border-bottom: var(--border);
    border: 1px solid var(--bg);
    transition: border 2s;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    
    
  }
  .navbar:hover
  {
    transition: border 10s;
   
    border: 1px solid #BA181B;
   
  }
 
  
  .navbar-nav{
    max-width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    
  }
  
  .nav-item {
    width: calc(var(--nav-size) * 5.2);
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .icon-button {
    --button-size: calc(var(--nav-size) * .45);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #E5383B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: white;
    transition: filter 300ms;
    transition: background-color red 2s;
    transition: transform 10s;
   
  }
  .icon-button:hover{
    filter: brightness(1);
    height: 28px;
    width: 28px;
    transform: rotate(30deg);
  }
  .icon-bg {
    --button-size: calc(var(--nav-size) * .39);
    width: calc(var(--button-size) * 1.5);
    height: calc(var(--button-size) * 1.5);
    background-color: #0B090A;
    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px inset #660708;
    transition: filter 300ms;
    transition-timing-function: ease-out;
    
    
  }
  .icon-bg:hover{
    filter: brightness(1.5);
    height: 50px;
    width: 50px;
  }
  .icon-button svg{
    fill: var(--text-color);
    width: 48px;
    height: 48px;
  }
  .dropdown{
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translate(-45%);
    background-color:var(--bg-2);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
  }
  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
  }
  .menu-item:hover{
    background-color: #660708;
  }
  .icon-right{
    margin-left: auto;
  }
  .menu {
    width: 100%;
  }
  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  
  .menu-secondary-enter {
    transform: translateX(110%);
  }
  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }

  .navbar-2 {
    height: var(--nav-size);
    padding: 0 1rem;
    border-bottom: var(--border);
    border: 1px solid var(--bg);
    top: 0;
    background: linear-gradient(-90deg, var(--bg), var(--bg), var(--bg-accent3), var(--bg-accent2), var(--bg-red1) , var(--bg-red2), var(--bg-red3) , #ee7752, #e73c7e, var(--bg-red3), var(--bg-red2), var(--bg-red1), var(--bg-accent2), var(--bg-accent3), var(--bg), var(--bg) );
    background-size: 1000%;
    animation: bgchange 30s ease infinite;
    
  }
  .navbar-2:hover
  {
    background-color: var(--bg);
    border: 1px solid white;
  }
  .nav-item-li{
    width: calc(var(--nav-size) * 35);
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
   
  }
  
  .navbar-nav-under-text{
    color: var(--text-color);
    font-size: 14px;
    letter-spacing: .5em;
  }
}

@keyframes bgchange {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


