
code 
{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: #AEBEBEff;
}

:root {
  --bg: #101730ff;
  --bg-accent: #1B2524ff;
  --bg-accent2: #243232ff;
  --bg-accent3: #2E5252ff;
  --text-color: #AEBEBEff;
  --bg-red1: #EE0527ff;
  --bg-red2: #E0012Aff;
  --bg-red3: #E5383B;
  --nav-size: 60px;
  --border-radius: 8px;
  --speed: 500ms;
  --bg-2: #3F646Dff;
  --oxford-blue: #101730ff;
  --deep-space-sparkle: #3F646Dff;
  --dark-slate-gray: #2E5252ff;
  --outer-space-crayola: #243232ff;
  --dark-jungle-green: #1B2524ff;
  /* CSS HEX */
  --medium-candy-apple-red: #E0012Aff;
  --red-pigment: #EE0527ff;
  --old-mauve: #5C3145ff;
  --dark-purple: #140B2Dff;
  --space-cadet: #212C50ff;
  /* CSS HEX */
  --cg-blue: #19819Fff;
  --outer-space-crayola: #263434ff;
  --sonic-silver: #787170ff;
  --ash-gray: #AEBEBEff;
  --blue-sapphire: #025B79ff;
  --weirdgray:#242a36;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

h1 {
  color: var(--text-color);
  
}

h6{
  text-shadow: 0 1px 0 #161A1D, 0 2px 0 #161A1D, 0 3px 0 #161A1D, 0 4px 0 #161A1D,  0 5px 0 #161A1D, 0 6px 0 #161A1D, 0 20px 30px rgba(0, 0, 0, 0.5);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navbar {
    height: var(--nav-size);
    background-color: var(--weirdgray);
    padding: 0 1rem;
    border:1px solid var(--ash-gray);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: auto;
    border-radius: 20px;
   
  }

  .navbar:hover
  {
    border: 1px solid var(--bg-accent2);
  }
  
  .navbar-nav{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-item {
    width: calc(var(--nav-size) * .76);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-button {
    --button-size: calc(var(--nav-size) * .45);
    width: var(--button-size);
    height: var(--button-size);
    background-color: var(--blue-sapphire);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    transition: filter 300ms;
    transition: background-color red 2s;
    transition: transform 10s;
   
  }
  .icon-button:hover{
    filter: brightness(1);
    height: 28px;
    width: 28px;
    transform: rotate(30deg);
  }
  .icon-bg {
    --button-size: calc(var(--nav-size) * .39);
    width: calc(var(--button-size) * 1.5);
    height: calc(var(--button-size) * 1.5);
    background-color: var(--cg-blue);
    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px inset var(--ash-gray);
    transition: filter 300ms;
    transition-timing-function: ease-out;
    
    
  }
  .icon-bg:hover{
    filter: brightness(1.2);
    height: 50px;
    width: 50px;
  }
  .icon-button svg{
    fill: var(--text-color);
    width: 48px;
    height: 48px;
  }
  .dropdown{
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translate(-45%);
    background-color:var(--bg-2);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
  }
  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
  }
  .menu-item:hover{
    background-color: var(--text-color);
  }
  .icon-right{
    margin-left: auto;
  }
  .menu {
    width: 100%;
  }
  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  
  .menu-secondary-enter {
    transform: translateX(110%);
  }
  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
 
  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }
  .navbar-2 {
    height: var(--nav-size);
    padding: 0 1rem;
    border-bottom: var(--border);
    border-radius: 20px;
    border: 1px solid var(--ash-gray);
    top: 0;
    background: linear-gradient(90deg, var(--bg), var(--bg-2), var(--bg-accent3), var(--bg-accent2), var(--weirdgray) , var(--weirdgray) , var(--ash-gray), var(--blue-sapphire), var(--dark-slate-gray), var(--bg-accent3), var(--bg-accent2), var(--bg-accent2), var(--bg-accent),  var(--bg) );
    background-size: 1000%;
    animation: bgchange 30s ease infinite;
    width:auto;
  }
  .navbar-2:hover
  {
    border: 1px solid var(--bg-accent2);
  }
  .nav-item-li{
    width: calc(var(--nav-size) * 5.4 );
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
  }
  
  .navbar-nav-under-text{
    color: var(--ash-gray);
    font-size: 12px;
    font-family: 'Exo', sans-serif;
  }
  .navbar-nav-under-text:hover{
    color: #ffffff;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navbar {
    height: var(--nav-size);
    background-color: var(--weirdgray);
    padding: 0 1rem;
    border-bottom: var(--ash-gray);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: auto;
  }
  
  .navbar-nav{
    max-width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-item {
    width: calc(var(--nav-size) * 1.3);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-button {
    --button-size: calc(var(--nav-size) * .45);
    width: var(--button-size);
    height: var(--button-size);
    background-color: var(--blue-sapphire);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: filter 300ms;
    transition: background-color  var(--ash-gray) 2s;
    transition: transform 10s;
   
  }
  .icon-button:hover{
    filter: brightness(1);
    height: 28px;
    width: 28px;
    transform: rotate(30deg);
  }
  .icon-bg {
    --button-size: calc(var(--nav-size) * .39);
    width: calc(var(--button-size) * 1.5);
    height: calc(var(--button-size) * 1.5);
    background-color: var(--cg-blue);
    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px inset var(--ash-gray);
    transition: filter 300ms;
    transition-timing-function: ease-out;
    
    
  }
  .icon-bg:hover{
    filter: brightness(1.2);
    height: 50px;
    width: 50px;
  }
  .icon-button svg{
    fill: var(--text-color);
    width: 48px;
    height: 48px;
  }
  .dropdown{
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translate(-45%);
    background-color:var(--bg-2);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
  }
  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
  }
  .menu-item:hover{
    background-color: #660708;
  }
  .icon-right{
    margin-left: auto;
  }
  .menu {
    width: 100%;
  }
  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  
  .menu-secondary-enter {
    transform: translateX(110%);
  }
  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }
  .navbar-2 {
    height: var(--nav-size);
    background-color: var(--dark-jungle-green);
    padding: 0 1rem;
    border-bottom: var(--border);
    border: 1px solid var(--ash-gray);
    top: 0;
    background: linear-gradient(90deg, var(--bg), var(--bg-2), var(--bg-accent3), var(--bg-accent2), var(--bg-red1) , var(--bg-red1) , var(--bg-red2), var(--blue-sapphire), var(--dark-slate-gray), var(--bg-accent3), var(--bg-accent2), var(--bg-accent2), var(--bg-accent),  var(--bg) );
    background-size: 1000%;
    animation: bgchange 30s ease infinite;
    width:auto;
    
  }
  .navbar-2:hover
  {
    border: 1px solid var(--bg-accent2);
  }
  .nav-item-li{
    width: calc(var(--nav-size) * 11.2);
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
   
  }
  
  .navbar-nav-under-text{
    color: var(--ash-gray);
    font-size: 14px;
    font-family: 'Exo', sans-serif;
  }
  .navbar-nav-under-text:hover{
    color: #ffffff;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navbar {
    height: var(--nav-size);
    background-color: var(--weirdgray);
    padding: 0 1rem;
    border-bottom: var(--ash-gray);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: auto;
  }
  
  .navbar-nav{
    max-width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-item {
    width: calc(var(--nav-size) * 1.6);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-button {
    --button-size: calc(var(--nav-size) * .45);
    width: var(--button-size);
    height: var(--button-size);
    background-color: var(--blue-sapphire);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: filter 300ms;
    transition: background-color red 2s;
    transition: transform 10s;
   
  }
  .icon-button:hover{
    filter: brightness(1);
    height: 28px;
    width: 28px;
    transform: rotate(30deg);
  }
  .icon-bg {
    --button-size: calc(var(--nav-size) * .39);
    width: calc(var(--button-size) * 1.5);
    height: calc(var(--button-size) * 1.5);
    background-color: var(--cg-blue);
    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px inset var(--ash-gray);
    transition: filter 300ms;
    transition-timing-function: ease-out;
    
    
  }
  .icon-bg:hover{
    filter: brightness(1.2);
    height: 50px;
    width: 50px;
  }
  .icon-button svg{
    fill: var(--text-color);
    width: 48px;
    height: 48px;
  }
  .dropdown{
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translate(-45%);
    background-color:var(--bg-2);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
  }
  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
  }
  .menu-item:hover{
    background-color: #660708;
  }
  .icon-right{
    margin-left: auto;
  }
  .menu {
    width: 100%;
  }
  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  
  .menu-secondary-enter {
    transform: translateX(110%);
  }
  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  
  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }
  .navbar-2 {
    height: var(--nav-size);
    background: linear-gradient(90deg, var(--bg), var(--bg-2), var(--bg-accent3), var(--bg-accent2), var(--weirdgray) , var(--weirdgray) , var(--ash-gray), var(--blue-sapphire), var(--dark-slate-gray), var(--bg-accent3), var(--bg-accent2), var(--bg-accent2), var(--bg-accent),  var(--bg) );
    padding: 0 1rem;
    border-bottom: var(--border);
    border: 1px solid var(--ash-gray);
    top: 0;
    background-size: 1000%;
    animation: bgchange 30s ease infinite;
    width:auto;
  }
  .navbar-2:hover
  {
    border: 1px solid var(--bg-accent2);
  }
  .nav-item-li{
    width: calc(var(--nav-size) * 14);
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
   
  }
  
  .navbar-nav-under-text{
    color: var(--ash-gray);
    font-size: 18px;
    font-family: 'Exo', sans-serif;
  }
  .navbar-nav-under-text:hover{
    color: #ffffff;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1000px) {
  .navbar {
    height: var(--nav-size);
    background-color: var(--weirdgray);
    padding: 0 1rem;
    border-bottom: var(--ash-gray);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  .navbar-nav{
    max-width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-item {
    width: calc(var(--nav-size) * 3.8 );
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-button {
    --button-size: calc(var(--nav-size) * .45);
    width: var(--button-size);
    height: var(--button-size);
    background-color: var(--blue-sapphire);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: white;
    transition: filter 300ms;
    transition: background-color red 2s;
    transition: transform 10s;
   
  }
  .icon-button:hover{
    filter: brightness(1);
    height: 28px;
    width: 28px;
    transform: rotate(30deg);
  }
  .icon-bg {
    --button-size: calc(var(--nav-size) * .39);
    width: calc(var(--button-size) * 1.5);
    height: calc(var(--button-size) * 1.5);
    background-color: var(--cg-blue);
    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px inset var(--ash-gray);
    transition: filter 300ms;
    transition-timing-function: ease-out;
    
    
  }
  .icon-bg:hover{
    filter: brightness(1.2);
    height: 50px;
    width: 50px;
  }
  .icon-button svg{
    fill: var(--text-color);
    width: 48px;
    height: 48px;
  }
  .dropdown{
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translate(-45%);
    background-color:var(--bg-2);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
  }
  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
  }
  .menu-item:hover{
    background-color: #660708;
  }
  .icon-right{
    margin-left: auto;
  }
  .menu {
    width: 100%;
  }
  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  
  .menu-secondary-enter {
    transform: translateX(110%);
  }
  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
 
  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }
  .navbar-2 {
    height: var(--nav-size);
    
    padding: 0 1rem;
    border-bottom: var(--border);
    border: 1px solid var(--ash-gray);
    top: 0;
    background: linear-gradient(90deg, var(--bg), var(--bg-2), var(--bg-accent3), var(--bg-accent2), var(--weirdgray) , var(--weirdgray) , var(--ash-gray), var(--blue-sapphire), var(--dark-slate-gray), var(--bg-accent3), var(--bg-accent2), var(--bg-accent2), var(--bg-accent),  var(--bg) );
    background-size: 1000%;
    animation: bgchange 30s ease infinite;
    width:auto;
  }
  .navbar-2:hover
  {
    border: 1px solid var(--bg-accent2);
  }
  .nav-item-li{
    width: calc(var(--nav-size) * 30);
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
   
  }
  
  .navbar-nav-under-text{
    color: var(--ash-gray);
    font-size: 20px;
    font-family: 'Exo', sans-serif;
  }
  .navbar-nav-under-text:hover{
    color: #ffffff;
  }
}

@media only screen and (min-width: 1200px){
  .nav-item {
    width: calc(var(--nav-size) * 4.6 );
   
  }
}

@media only screen and (min-width: 1300px){
  .nav-item {
    width: calc(var(--nav-size) * 3.5 );
   
  }
}

@keyframes bgchange {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}