.projectHeader{
    background-color: #19819Fff;
    padding: 3px;
    border: 5px solid white;
    border-radius: 5px;
}
.projectFooter{
    background-color: black;
    padding: 3px;
    border: 5px solid white;
    border-radius: 5px;
}

.chatbotBar{
    background-color: transparent;
    text-align: center;
    width: 100%;
    border: 1px solid #025B79ff;
    border-radius: 20px;
    
}

.chatbotBar:hover{
    background-color: #FFFFFF;
    border: 1px solid #101730ff;
}